#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 2em;
  text-align: center;
  display: flex; /* Use flexbox for centering and alignment */
  flex-direction: column; /* Arrange children vertically */
}

.widget {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow widgets to wrap to the next line */
}

img {
  height: 300px; /* Adjusted height */
  will-change: filter;
  transition: filter 300ms;
}
